.game {
  width: 255px;
  text-align: center;
  margin: auto;
  color: white;

  font-weight: bold;
}
.title {
  background-color: rgb(85, 12, 107);
  padding: 5px;
  padding: 5px 0;
  margin: 5px 0;
}
span {
  color: rgb(146, 172, 90);
}
.game .squere {
  width: 81px;
  height: 81px;
  background-color: rgb(85, 12, 107);
  float: left;
  margin: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 50px;
  color: white;
  background-image: url(438099300_400194992830954_2597101955440027693_n.jpg);
  background-position: center;
  background-size: cover;
}
.game .squere:hover {
  background-color: rgb(27, 25, 25);
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(85, 12, 107);
  border-radius: 5px;
  margin: 10px;
  color: white;
}
.hide {
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}
